.backoffice{
    .barchart-wrapper{
        height: 300px;
        width: 500px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    .piechart-wrapper{
        height: 300px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
}