.board{
    margin: 0 auto;
    padding: 1.3rem 1rem 1.5rem 2.3rem;
    width: 90%;
    border-top-left-radius: 15px;
    background-color: white;
    .top-section{
        width: 100%;
        margin-block-end: 1rem;
        .mobile-back-btn{
            display: none;
        }
        .top-l{
            width: 70%;
            h1{
                font-size: 1.5rem;
                padding: 0.3rem;
                border: 1px solid transparent;
                font-family: 'bold';
                &:hover{
                    border: 1px solid $BorderColor;
                }
                &:focus{
                    outline: 0;
                    width: 100%;
                    border: 1px solid blue;
                }
            }
            svg{margin-inline-start: 1rem; font-size: 1.3rem;color: #676879 !important;cursor: pointer;}
        }
        .top-r{
            .board-invite-btn{
                padding: 0.5rem;
                background: white;
                outline: 0;
                border: 1px solid $BorderColor;
                border-radius: 5px;
                font-size: 0.9rem;
                svg{margin-inline-end: 0.8rem;}
                cursor: pointer;
                &:hover{
                    background: $BorderColor;
                }
            }
        }
    } 
    .main-board-section{
        width: 100%;
        min-height: 100%;
    }
}