.work-navbar {
    min-height: 100vh;
    background-color: white;
    border-top-right-radius: 15px;

    button {
        cursor: pointer;
    }

    input {
        width: 80%;
    }

    li a:hover,
    .top-items .btns-container button:hover {
        background-color: #dcdfec;
    }

    .active {
        background-color: #cce5ff;

        >button {
            background-color: #cce5ff !important;
        }
    }

    .top-items {
        padding: 1rem 1rem 0 1rem;

        .btns-container {
            padding-block-end: 1rem;

            button {
                background: transparent;
                padding-inline-start: 0.5rem;
                width: 85%;
                height: 32px;
                border: 0;
                outline: 0;
                border-radius: 5px;

                svg {
                    width: 15px;
                    height: 15px;
                }

                span {
                    margin-inline-start: 0.8rem;
                }
            }
        }
    }

    hr {
        color: #eceff8;
        opacity: 0.4;
    }

    .boards-list {
        padding: 0 1rem;
        align-items: flex-start;

        h3 {
            margin-block-start: 1rem;
            font-family: 'bold';
            text-align: center;
            padding: 5px;
        }

        .list-action{
            width: 100%;
            margin: 0.5rem 0;
            .input-wrapper {
                border: 1px solid $BorderColor;
                padding: 0.5rem;
                border-radius: 5px;
                flex: 0.9;
                input {
                    border: 0;
                    outline: 0;
                    margin-inline-start: 0.3rem;
                }
            }
            button{
                background-color: #0073ea;
                outline: 0;
                border: 0;
                flex-basis: 30px;
                border-radius: 5px;
                color: white;
                font-size: 1rem;
            }
        }

        ul {
            position: relative;
            list-style: none;
            width: 100%;

            li {
                a {
                    padding: 5px;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;

                    &:hover {
                        .three-dots {
                            display: inline;
                        }
                    }

                    div {
                        span {
                            margin-inline-start: 0.5rem;
                            font-size: 0.9rem;
                            color: black;
                        }
                    }
                }


                .three-dots {
                    display: none;
                    font-size: 1.2rem;
                }
            }
        }
    }
}