.board-actions{
    width: 40%;
    height: 30px;
    margin-block-end: 2.8rem;
    button{margin-inline-end: 1rem;}
    input{
        border: 0;
        outline: 0;
        border-radius: 5px;
        padding-inline-start: 0.3rem;
        width: 15%;
        &:focus{
            border: 1px solid blue;
            width: 30%;
            transition: width 0.1s;
            background-color: transparent !important;
        }
        &:hover{
            background-color: $BorderColor;
        }
    }
}