.color-pallete{
    position: absolute;
    z-index: 3;
    min-width: 150px;
    min-height: 150px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    border: 1px solid $BorderColor;
    border-radius: 5px;
    div{
        width: 30px;
        height: 30px;
        border-radius: 7px;
        margin: 0.3rem;
        cursor: pointer;
    }
}