.group{
    .group-title{
        margin: 1rem 0;
    }
    table{
        border-collapse: collapse;
        text-align: center;
        width: 100%;
        th{
            border: 1px solid $BorderColor;
            height: 40px;
            font-weight: 400;
        }
        td{
            border: 1px solid $BorderColor;
            height: 25px;
        }
        .checkbox-th{
            width: 1%;
            position: relative;
            &::before{
                position: relative;
                content: '';
                top: 0;
                width: 5px;
                height: 5px;
                background-color: aqua;
            }
        }
        .title-th{
            width: 20%;
        }
        .person-th{
            width: 5%;
        }
        .status-th{
            width: 10%;
        }
        .date-th{
            width: 10%;
        }
        .checkbox-td{
            width: 1%;
        }
        .title-td{
            width: 20%;
        }
        .person-td{
            width: 5%;
            img{
                width: 30px;
                height: 30px;
            }
        }
        .status-td{
            width: 10%;
        }
        .date-td{
            width: 10%;
        }
    }
}