.group{
    margin-block-end: 3rem;
    .group-title{
        margin-block-end: 1rem;
        margin-inline-start: 2.1rem;
    }
    .group-container{
        .group-header{
            width: 52%;
            height: 36px;
            span{font-size: 0.9rem;}
            .header-cell{border: 1px solid $BorderColor;}
            .header-checkbox{
                border-top-left-radius: 10px;
                input{margin: 0.5rem;}
            }
            .header-item{min-width: 300px;}
            .header-person{min-width: 180px;}
            .header-status, .header-date{min-width: 132px;}
        }
    }
}