.task-dock{
    position: absolute;
    z-index: 9;
    bottom: 50px;
    left: calc(60% - 356px);
    width: 600px;
    height: 60px;
    background-color: white;
    box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    .dock-left{
        flex-basis: 30%;
        div{
            height: 100%;
            width: 30%;
            background-color: #0073ea;
            border-top-left-radius: 7px;
            border-bottom-left-radius: 7px;
            span{
                font-size: 1.5rem;
                color: white;
            }
        }
    }
    .dock-right{
        flex-basis: 60%;
        .option-item{
            cursor: pointer;
            svg{
                width: 25px;
                height: 25px;
            }
            p{
                font-size: 0.9rem;
            }
            &:hover{
                svg{
                    fill: #0073ea;
                }
            }
        }
    }
    .dock-close{
        flex-basis: 10%;
        border-left: 2px solid #c3c6d4;
    }
}