.task-row{
    width: 100%;
    border-bottom: 1px solid $BorderColor;
    border-left: 1px solid $BorderColor;
    font-size: 0.9rem;
    .task-cell{
        border-right: 1px solid $BorderColor;
        height: 36px;
    }
    .checkbox-cell{
        input{margin: 0.5rem;}
        position: relative;
        &::before{
            position: relative;
            content: 'a';
            width: 7px;
            height: 100%;
            left: 0;
            top: 0;
            background-color: aqua;
            color: aqua;
        }
    }
    .item-cell{
        min-width: 300px;
        padding-inline-start: 2rem;
        span{
            padding: 0.1rem;
            border: 1px solid transparent;
            &:hover{
                border: 1px solid $BorderColor;
                border-radius: 5px;
            }
        }
    }
    .person-cell{
        min-width: 180px;
        img{
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
    }
    .status-cell{
        border-right: 2px solid $BorderColor;
        min-width: 132px;
        color: white;
    }
    .date-cell{
        min-width: 132px;
    }
}