@media (max-width: 500px) {
    .home-page {
        .home-nav {
            padding: 0.5rem 15px;

            .nav-links {
                display: none;
            }

            .mobile-nav-links {
                position: fixed;
                top: 50px;
                background-color: white;
                left: 0;
                z-index: 3;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                padding-inline-start: 1rem;
                padding-block-start: 1rem;

                a {
                    font-size: 1.2rem;
                    color: $Black;
                    margin-block-end: 1rem;
                    padding-block-end: 1rem;
                    border-bottom: 1px solid #e3e3e3;
                }

                animation: fade-in 1s;
            }

            .mobile-menu-btn {
                display: inline;
                width: 25px;
                height: 25px;
            }
        }

        .home-content {
            padding-block-start: 1rem;

            .title-text {
                h1 {
                    font-size: 2rem;
                    line-height: 40px;
                }
            }
        }

        footer {
            font-size: smaller;
        }
    }

    .login-page {
        .login-section {
            height: 75%;

            .login-form {
                width: 100%;
                justify-content: space-evenly;

                form {
                    width: 90%;

                    .input-form {
                        input {
                            width: 70%;
                        }
                    }

                    button {
                        width: 100%;
                        transform: none;
                    }
                }

                .google-sign-in {
                    margin-block-end: 3rem;
                }
            }
        }
    }

    .main-board {

        .new-navbar,
        .work-navbar {
            display: none;
        }

        .main-content {
            &>section:not(.work-navbar) {
                flex-basis: 100%;
            }
        }

        .dash-board {
            .bottom-nav{display: inline;}
            header {
                height: 70px;
                display: flex;
                justify-content: center;
                img[alt~="header-mobile-logo"] {
                    display: inline-block;
                    width: 200px;
                    object-fit: contain;
                }

                &>div {
                    display: none;
                }
            }

            main {
                padding: 0;

                .left-side {
                    display: none;
                }

                .sections-wrapper {
                    flex-basis: 100%;
                    margin-inline-end: 0;

                    .inbox-show,
                    .workspaces-show {
                        display: none;
                    }

                    .board-list {
                        .board-preview {
                            width: 100%;
                            border: 0;
                            border-radius: 0;
                            border-bottom: 1px solid $BorderColor;
                            display: grid;
                            height: 100px;
                            grid-template-areas:
                                'img headline headline headline headline'
                                'img text text text text'
                                'le le le le le';
                            img {
                                width: 100%;
                                height: 100%;
                                grid-area: img;
                            }

                            .headline {
                                grid-area: text;
                            }
                            .preview-text{
                                margin-inline-start: 1rem;
                            }
                            .preview-text:not(.headline) {
                                grid-area: headline;
                                span{
                                    font-size: 0.6rem;
                                }
                            }
                            .last-edited{
                                font-size: 0.7rem;
                                color: #676879;
                                display: inline;
                                grid-area: le;
                            }
                        }
                    }
                }
            }
        }

        .board{
            padding: 1.5rem 0.5rem;
            width: 100%;
            .top-section{
                justify-content: center;
                .mobile-back-btn{
                    display: inline;
                    transform: translateX(-50px);
                    width: 25px;
                    height: 25px;
                }
                .top-r{display: none;}
                .top-l{
                    justify-content: center;
                    h1{
                        font-size: 1.1rem;
                    }
                }
            }
            .css-19kzrtu{
                padding: 20px 0;
            }
            .board-middletop{
                .board-actions{
                    width: 100%;
                }
            }
            .main-board-section{
                .group-container{
                    .task-row{
                        border-bottom: 0;
                    }
                    .group-header, .task-row{
                        width: 100%;
                    }
                    .header-item, .item-cell{
                        min-width: 80%;
                    }
                    .item-cell, .person-cell, .checkbox-cell{
                        border-bottom: 1px solid $BorderColor;
                    }
                    .header-checkbox, .checkbox-cell{
                        input{display: none;}
                    }
                }
            }
            
        }
    }
}