@font-face {
    font-family: 'ex-light';
    src: url('../font/Montserrat-ExtraLight.ttf');
}
@font-face {
    font-family: 'light';
    src: url('../font/Montserrat-Light.ttf');
}
@font-face {
    font-family: 'regular';
    src: url('../font/Montserrat-Regular.ttf');
}
@font-face {
    font-family: 'bold';
    src: url('../font/Montserrat-SemiBold.ttf');
}